<%= form_for(@car, :url => '/car/save') do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :owner_id %>
  <%= f.hidden_field :sold %>
  <fieldset>
    <legend>Car Details</legend>
    <table>
      <tr>
        <th>Make</th>
        <td><%= select_tag "make_id", options_from_collection_for_select(@makes, "id", "name", @car.make), :include_blank => true %></td>
      </tr>
      <tr>
        <th>Model</th>
        <td>
          <% if @car_models.nil? %>
            <select id="car_model_id" name="car[car_model_id]"></select>
          <% else %>
            <%= select_tag "car[car_model_id]", options_from_collection_for_select(@car_models, "id", "name", @car.car_model_id), :include_blank => true %></td>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Year</th>
        <td><%= select_tag "year", options_for_select(1992..(Date.today.year), @car.year), :include_blank => true %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area :description, :rows => 5 %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <th>Doors</th>
        <td><%= f.text_field :doors %></td>
      </tr>
      <tr>
        <th>Seats</th>
        <td><%= f.text_field :seats %></td>
      </tr>
    </table>
    <a href="#" onclick="javascript: $(this).next().toggle; return false;">More details</a>
    <table style="display:none">
      <tr>
        <th>Type</th>
        <td><%= select_tag "type", options_for_select(%w(Sedan Sports SUV Coupe Caporle Van Hatchback Station 4WD), @car.type), :include_blank => true %></td>
      </tr>
      <tr>
        <th>Transmission</th>
        <td><%= select_tag "transmission", options_for_select(%w(Manual Automatic), @car.transmission), :include_blank => true %></td>
      </tr>
      <tr>
        <th>Mileage</th>
        <td><%= f.text_field :mileage %></td>
      </tr>
      <tr>
        <th>capacity</th>
        <td><%= f.text_field :capacity %></td>
      </tr>
      <tr>
        <th>Color</th>
        <td><%= f.text_field :color %></td>
      </tr>
    </table>
  </fieldset>
  <% if @car.new_record? %>
    <%= render :partial => 'owner/owner_form' %>
  <% end %>

  <%= f.submit "Save" %>
<% end %>
