<form action="/car/save" method="POST">
	<input type="hidden" name="id" value="<%= @car.id %>" />
  <fieldset>
    <legend>Car Details</legend>
    <table>
      <tr>
        <th>Make</th>
        <td><%= select_tag "make_id", options_from_collection_for_select(@makes, "id", "name", @car.make), :include_blank => true %></td>
      </tr>
      <tr>
        <th>Model</th>
        <td>
          <% if @car_models.nil? %>
            <select id="car_model_id" name="car_model_id"></select>
          <% else %>
            <%= select_tag "car_model_id", options_from_collection_for_select(@car_models, "id", "name", @car.car_model_id), :include_blank => true %></td>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Year</th>
        <td><%= select_year(@car.year, :start_year => 1992, :end_year => Date.today.year + 1, :include_blank => true) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><textarea id="description" name="description"><%= @car.description %></textarea></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><input type="text" id="price" name="price" value="<%= @car.price %>" /></td>
      </tr>
      <tr>
        <th>Doors</th>
        <td><input type="text" id="doors" name="doors" value="<%= @car.doors %>" /></td>
      </tr>
      <tr>
        <th>Seats</th>
        <td><input type="text" id="seats" name="seats" value="<%= @car.seats %>" /></td>
      </tr>
    </table>
		<input type="submit" value="Save" />
  </fieldset>
</form>
