<h2><%= @car.make_name %> - <%= @car.model_name %></h2>
<h3><%= @car.year %></h3>

<table>
  <tr>
    <th>Description</th>
    <td><%= @car.description %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= @car.price %>LE</td>
  </tr>
  <% if !@car.type.blank? %>
    <tr>
      <th>Type</th>
      <td><%= @car.type %></td>
    </tr>
  <% end %>
  <% if !@car.transmission.blank? %>
    <tr>
      <th>Transmission</th>
      <td><%= @car.transmisson %></td>
    </tr>
  <% end %>
  <% if !@car.capacity.blank? %>
    <tr>
      <th>Capacity</th>
      <td><%= @car.capacity %></td>
    </tr>
  <% end %>
  <% if !@car.mileage.blank? %>
    <tr>
      <th>Mileage</th>
      <td><%= @car.mileage %></td>
    </tr>
  <% end %>
  <% if !@car.doors.blank? %>
    <tr>
      <th>Doors</th>
      <td><%= @car.doors %></td>
    </tr>
  <% end %>
  <% if !@car.seats.blank? %>
    <tr>
      <th>Seats</th>
      <td><%= @car.seats %></td>
    </tr>
  <% end %>
  <% if !@car.color.blank? %>
    <tr>
      <th>Color</th>
      <td><%= @car.color %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => "owner/owner_contact", :locals => { :owner => @car.owner } %>
<% if @car.editable_by(current_user) %>
  <%= link_to 'Edit', car_edit_path(@car) %>
<% end %>
<%= link_to 'Return to List', list_path %>
