<h2>Available Cars</h2>
<table>
  <% @cars.each do |car| %>
    <tr>
      <td>
        <%= car.make_name %> -
        <%= car.model_name %> -
        <%= car.year %> -
        <%= car.description %> -
        <%= car.owner_name %> -
        <%= car.owner_phone %> -
        <%= car.price %> LE
        <%= link_to 'Details', car_details_path(car) %>
      </td>
    </tr>
  <% end %>
</table>
<% if @cars.empty? %>
  <h4>No cars available</h4>
<% end %>
<%= link_to 'Create Car', '/car/new' %>
