<!DOCTYPE html>
<html>
<head>
  <title>Secondhand Cars</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header style="clear: both">
    <div style="float: right">
      <% if signed_in? %>
        <%= current_user.name %> - <%= link_to "Sign out", signout_path, method: "delete" %>
      <% else %>
        <%= form_for(:sessions, :url => sessions_path) do |f| %>
        <a href="#" onclick="$(this).next().toggle(); return false;">Login</a>
        <table style="display: none">
          <tr>
            <td>Email</td>
            <td><input type="text" name="email" /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
          </tr>
          <tr><td colspan="2"><input type="submit" value="Login" /></td></tr>
        </table>
        <% end %>
      <% end %>
    </div>
    <h1>Secondhand Cars</h1>
  </header>
<%= render :partial => 'layouts/search' %>
<% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end -%>
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>
<%= yield %>

</body>
</html>
